@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
}

::selection {
  background: #111;
  color: white;
}
